* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

:root {
	--grid-rows: 80px;
	--border-radius: 10px;
}

a {
	border-radius: 5px;
	font-size: 120%;
	margin: 3px 3px;
	padding-left: 5px;
	padding-right: 5px;
}

header {
	
}

img {
	max-width: 100%;
}

nav {
	
}

ul {
	
}

.container {
	background-color: #8A95AD;
	border-radius: var(--border-radius);
	display: grid;
	grid-gap: 10px;
	grid-template-rows: var(--grid-rows);
	margin: 1rem 1rem;
}

.grid-item-1 {
	align-items: center;
	display: flex;
	justify-content: flex-end;
	grid-column-end: 3;
	height: 100%;
}

.header-item-1 {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	height: 100%;
}

.header-intro {
	align-items: center;
	display: flex;
	justify-content: flex-start;
}




//
