:root {
	--row-height: 30px;
	--border-radius: 5px;
}

.grid-item:nth-child(even){
	background-color: blue;
	height: var(--row-height);
	border-radius: var(--border-radius);
}

.grid-item:nth-child(odd){
	background-color: green;
	height: var(--row-height);
border-radius: var(--border-radius);
}
